#search{
    text-align: center;
    padding: 25px 0;
}
#search form select{
    margin: 0 5px;
    width: 12%;
    height: 35px;
    min-width: 80px;
    border-color: #dde1e4;
}
.text-em{
    font-size: 1.2em !important;
    color: #787784;
}
#address{
    width: 50%;
    padding-right: 60px;
}
#address h1{
    text-transform: uppercase;
    letter-spacing: 2px;
}
#address p{
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 2;
}
#locations{
    width: 50%;
}
#locations img{
    width: 100%;
    box-shadow:  1px 2px 4px 0 #d8d8d8, 1px 5px 9px #d8d8d8;
    border-radius: 5px;
}
.feature-icon{
    height: 150px;
}
#welcome{
    display: flex;
    justify-items: center;
    margin-top: 25px;
}
#get-started{
    text-align: center;
}
#get-started h1, .offer-holder h1{
    margin: 50px 0 25px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.features-holder{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.feature{
    width: 20%;
    margin: 0 5%;
    padding: 0 0 60px 0;
    width: 25%;
    margin: 0 2%;
    box-shadow: 0px 0px 6px #d8d8d8;
}
.feature img{
    width: 100%;
}
.feature h2{
    line-height: 3;
}
.detials{
    padding-top: 15px;
}
.feature p{
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #663399;
    margin-top: 10px;
}
.offer{
    width: 20%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #d8d8d8;
    border-radius: 5px;
    height: 290px;
    padding: 1px;
}
.offer-info{
    padding: 10px;
    text-align: left;
    color: #663399;
}
.offer-info p{
    margin-top: 12px;
}
.offer-details{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
    color: #663399;
}
.rating{
    color: #ad79da;
    letter-spacing: 10px;
}
.section{
    margin: 60px auto;
    width: 52%;
    border: 0.04em solid #dde1e4
}
#latest-offers{
    display: flex;
    justify-items: center;
}
.offer-holder{
    text-align: center;
}